<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.smartwork.dal.mapper.ZGMemberLevelPermEleMapper">
  <resultMap id="BaseResultMap" type="org.smartwork.dal.entity.ZGMemberLevelPermEle">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="perm_code" jdbcType="BIGINT" property="permCode" />
    <result column="start_condition" jdbcType="DECIMAL" property="startCondition" />
    <result column="end_condition" jdbcType="DECIMAL" property="endCondition" />
    <result column="ele_val" jdbcType="DECIMAL" property="eleVal" />
    <result column="ele_des" jdbcType="VARCHAR" property="eleDes" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_by, create_time, update_by, update_time, perm_code, start_condition, end_condition, 
    ele_val, ele_des
  </sql>
</mapper>